.about {
  background-color: #fdfaf6;
}

.about__title {
  padding-top: 2.5rem;
}

#about-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 28px;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.about-item img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.about-item__title {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  #about-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  #about-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
