.header {
  display: flex;
  background-color: #83a95c;
  color: #fff;
  position: absolute;
  z-index: 999;
  width: 95%;
  border-radius: 100px;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.header__title {
  width: 20%;
  padding: 14px 32px;
  display: flex;
  align-items: center;
}

#drawer-mobile {
  width: 80%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
}

#hamburger {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
}

#drawer.open {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #83a95c;
  width: 100%;
  border-radius: 10px;
  padding: 19px;
  top: 110%;
  left: 0;
}

.header-nav {
  width: 80%;
  text-align: right;
  font-weight: 700;
  display: none;
}

.header-nav__list {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-nav__item {
  padding: 8px 24px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 24px;
  font-size: 14px;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav a:hover {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 850px) {
  #drawer-mobile {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-nav__list {
    display: block;
    text-align: right;
  }

  .header-nav__item {
    display: inline-block;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
  }

  .header__title {
    width: 20%;
    padding: 14px 32px;
  }
}
