.restaurant {
  padding: 3rem 0;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.restaurant-item {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.restaurant-item__title,
.restaurant-item__info {
  margin-bottom: 0.5rem;
}

.restaurant-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 24px;
}

.restaurant-item__info {
  display: flex;
  justify-content: space-between;
}

.restaurant-item__thumbnail {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.restaurant-item__rating {
  text-align: right;
}

.restaurant-item__content {
  padding: 0.7rem;
  line-height: 24px;
}

.restaurant-item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 26px;
}

.restaurant-featured {
  row-gap: 2rem;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .restaurant-featured {
    row-gap: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .restaurant-item__thumbnail {
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .restaurant-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
