#reviews {
  margin-top: 20px;
}

.review-container {
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.review-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.review-content {
  margin-bottom: 20px;
}

.review-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.review-info__date {
  color: #687980;
  font-size: 12px;
}

.review-divider {
  margin-top: 20px;
  border: 1px solid #e8f0f2;
}

.review-info__name {
  font-size: 18px;
}

.review-write__content {
  margin-top: 10px;
}

.review-write__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-write__container, .review-write__name {
  width: 100%;
  border: 1px solid #c7d4d8;
  border-radius: 5px;
  padding: 10px;
}

.review-write__btn {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  background: #f58634;
  color: #fff;
  font-weight: bold;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.review-write__name {
    height: 40px;
    margin: 10px 0;
}

.review-write__container {
    height: 80px;
    margin-top: 10px;
}