<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="icons/favicon.png" rel="icon" type="image/png" />
    <title>Nomnom Pickup</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Go to main content</a>
    <header class="header">
      <h1 class="header__title main-title">NomNom</h1>
      <nav id="drawer" class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item"><a href="/">Home</a></li>
          <li class="header-nav__item">
            <a href="#recommendation">Today Pickup</a>
          </li>
          <li class="header-nav__item"><a href="#restaurant">Restaurant</a></li>
          <li class="header-nav__item">
            <a href="#">Favorite</a>
          </li>
          <li class="header-nav__item">
            <a href="https://www.linkedin.com/in/annisatahira/">About Us</a>
          </li>
        </ul>
      </nav>
      <!-- For Mobile -->
      <div id="drawer-mobile">
        <a id="hamburger" href="#"><i id="fa-toggle" class="fa fa-bars"></i></a>
      </div>
    </header>
    <div class="hero">
      <div class="hero__figure">
        <img src="images/heros/hero-image_2.jpg" />
        <div class="hero-inner">
          <span class="hero-inner__title">NomNom Today</span>
          <h1 class="hero-inner__question">Find Recommended Restaurant Here</h1>
          <a
            href="#recommendation"
            class="hero-inner__link"
            aria-label="find recommended restaurant by clicking here"
            >Check This Out!</a
          >
        </div>
      </div>
    </div>
    <main id="maincontent">
      <section class="about">
        <div class="container">
          <h1 class="section-title about__title">Our Value</h1>
        </div>
        <article>
          <div class="container">
            <div class="about-list"></div>
          </div>
        </article>
      </section>
      <section id="recommendation" class="featured">
        <div class="container">
          <h1 class="section-title featured__title">Today Pickup</h1>
          <div class="featured-list"></div>
        </div>
      </section>
      <section id="restaurant" class="product container">
        <h1 class="section-title">Restaurant</h1>
        <div class="product-list"></div>
      </section>
    </main>
    <footer>
      <div class="footer__inner container">
        <div class="footer-description">
          <h1 class="footer-description__title main-title">NomNom</h1>
          <p>
            Finding a good place where you can savor good food and enjoy the
            food with a breathtaking view, here we pick the best out of the best
          </p>
        </div>
        <div class="footer-featured">
          <div class="footer-menu">
            <h1 class="footer-menu__title">NomNom</h1>
            <ul>
              <li class="footer-menu__item"><a href="/">Home</a></li>
              <li class="footer-menu__item">
                <a href="#recommendation">Today Pickup</a>
              </li>
              <li class="footer-menu__item">
                <a href="#restaurant">Restaurant</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu">
            <h1 class="footer-menu__title">Dev Contact</h1>
            <ul>
              <li class="footer-menu__item">
                <a href="https://github.com/annisatahira">Github</a>
              </li>
              <li class="footer-menu__item">
                <a href="https://www.linkedin.com/in/annisatahira/">Linkedin</a>
              </li>
              <li class="footer-menu__item">
                <a href="https://www.instagram.com/annisatahira/">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyrights">
        <div class="container">
          <h1 class="footer-copyrights__title">© 2021 - NomNom App</h1>
        </div>
      </div>
    </footer>
  </body>
</html>
