<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Nomnom Pickup</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title main-title">Nomnom</h1>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">Home</li>
          <li class="header-nav__item">Today Pickup</li>
          <li class="header-nav__item">Restaurant</li>
          <li class="header-nav__item">About Us</li>
        </ul>
      </nav>
      <!-- For Mobile -->
      <div id="drawer-mobile">
        <a id="hamburger" href="#"><i class="fa fa-bars"></i></a>
      </div>
    </header>
    <div class="hero">
      <div class="hero__figure">
        <img src="/images/heros/hero-image_2.jpg" />
        <div class="hero-inner">
          <span class="hero-inner__title">NomNom Today</span>
          <h1 class="hero-inner__question">What You Craving ?</h1>
          <button class="hero-inner__btn">Pick Me!</button>
        </div>
      </div>
    </div>
    <main>
      <article class="about">
        <div class="container">
          <h1 class="section-title about__title">Our Value</h1>
          <div class="about-list">
            <figure class="about-item">
              <img src="/icons/nomnom-1.svg" />
              <figcaption class="about-item__title">Search Online</figcaption>
            </figure>
            <figure class="about-item">
              <img src="/icons/nomnom-2.svg" />
              <figcaption class="about-item__title">Search Online</figcaption>
            </figure>
            <figure class="about-item">
              <img src="/icons/nomnom-3.svg" />
              <figcaption class="about-item__title">Search Online</figcaption>
            </figure>
            <figure class="about-item">
              <img src="/icons/nomnom-4.svg" />
              <figcaption class="about-item__title">Search Online</figcaption>
            </figure>
          </div>
        </div>
      </article>
      <section class="featured">
        <div class="container">
          <h1 class="section-title featured__title">Today Pickup</h1>
          <div class="featured-list">
            <article class="featured-item">
              <img
                class="featured-item__thumbnail"
                src="/images/heros/hero-image_1.jpg"
                alt="Seorang wanita di depan komputer sedang pusing"
              />
              <div class="featured-item__content">
                <div class="featured-item__info">
                  <p class="featured-item__city">Bogor</p>
                  <p class="featured-item__rating">4.5</p>
                </div>
                <h1 class="featured-item__title">Pangsit Express</h1>
                <p class="featured-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet."
                </p>
              </div>
            </article>
            <article class="featured-item">
              <img
                class="featured-item__thumbnail"
                src="/images/heros/hero-image_2.jpg"
                alt="Seorang wanita di depan komputer sedang pusing"
              />
              <div class="featured-item__content">
                <div class="featured-item__info">
                  <p class="featured-item__city">Bogor</p>
                  <p class="featured-item__rating">4.5</p>
                </div>
                <h1 class="featured-item__title">Pangsit Express</h1>
                <p class="featured-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet."
                </p>
              </div>
            </article>
            <article class="featured-item">
              <img
                class="featured-item__thumbnail"
                src="/images/heros/hero-image_4.jpg"
                alt="Seorang wanita di depan komputer sedang pusing"
              />
              <div class="featured-item__content">
                <div class="featured-item__info">
                  <p class="featured-item__city">Bogor</p>
                  <p class="featured-item__rating">4.5</p>
                </div>
                <h1 class="featured-item__title">Pangsit Express</h1>
                <p class="featured-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet."
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section class="product container">
        <h1 class="section-title">Restaurant</h1>
        <div class="product-list">
          <article class="product-item">
            <img
              class="product-item__thumbnail"
              src="/images/heros/hero-image_4.jpg"
            />
            <div class="product-item__description">
              <h1>Pangsit Express</h1>
              <div class="product-item__info">
                <p class="product-item__city">Bogor</p>
                <p class="product-item__rating">4.5</p>
              </div>
            </div>
          </article>
          <article class="product-item">
            <img
              class="product-item__thumbnail"
              src="/images/heros/hero-image_2.jpg"
            />
            <div class="product-item__description">
              <h1>Pangsit Express</h1>
              <div class="product-item__info">
                <p class="product-item__city">Bogor</p>
                <p class="product-item__rating">4.5</p>
              </div>
            </div>
          </article>
          <article class="product-item">
            <img
              class="product-item__thumbnail"
              src="/images/heros/hero-image_1.jpg"
            />
            <div class="product-item__description">
              <h1>Pangsit Express</h1>
              <div class="product-item__info">
                <p class="product-item__city">Bogor</p>
                <p class="product-item__rating">4.5</p>
              </div>
            </div>
          </article>
          <article class="product-item">
            <img
              class="product-item__thumbnail"
              src="/images/heros/hero-image_4.jpg"
            />
            <div class="product-item__description">
              <h1>Pangsit Express</h1>
              <div class="product-item__info">
                <p class="product-item__city">Bogor</p>
                <p class="product-item__rating">4.5</p>
              </div>
            </div>
          </article>
          <article class="product-item">
            <img
              class="product-item__thumbnail"
              src="/images/heros/hero-image_3.jpg"
            />
            <div class="product-item__description">
              <h1>Pangsit Express</h1>
              <div class="product-item__info">
                <p class="product-item__city">Bogor</p>
                <p class="product-item__rating">4.5</p>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer__inner container">
        <div class="footer-description">
          <h1 class="footer-description__title main-title">NomNom</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor.
          </p>
        </div>
        <div class="footer-featured">
          <div class="footer-menu">
            <h1 class="footer-menu__title">NomNom</h1>
            <ul>
              <li class="footer-menu__item"><a href="#">Home</a></li>
              <li class="footer-menu__item"><a href="#">Today Pickup</a></li>
              <li class="footer-menu__item"><a href="#">Restaurant</a></li>
              <li class="footer-menu__item"><a href="#">About Us</a></li>
            </ul>
          </div>
          <div class="footer-menu">
            <h1 class="footer-menu__title">NomNom</h1>
            <ul>
              <li class="footer-menu__item"><a href="#">Home</a></li>
              <li class="footer-menu__item"><a href="#">Today Pickup</a></li>
              <li class="footer-menu__item"><a href="#">Restaurant</a></li>
              <li class="footer-menu__item"><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyrights">
        <div class="container">
          <h1 class="footer-copyrights__title">© 2020 - NomNom App</h1>
        </div>
      </div>
    </footer>
  </body>
</html>
